<h2>Formulario template para añadir un nuevo articulo </h2>

<div class="container mt-4">
    <form (ngSubmit)="createAritcle(articleForm)" #articleForm="ngForm" class="col-md-3">
        <div ngModelGroup="article">

            <div class="from-group article-name mb-3">
                <label for="name">Nombre del articulo</label>
                <input type="text" name="name" placeholder="Nombre del articulo" ngModel required
                    #articleName="ngModel" class="form-control"> 
                <small class="text-danger" *ngIf=" articleName.invalid && (articleName.dirty || articleName.touched || invalidForm) ">
                    Nombre del articulo obligatorio
                </small>
            </div>

            <div class="from-group article-price mb-3">
                <label for="price">Precio del articulo</label>
                <input type="number" name="price" placeholder="Nombre del articulo" ngModel required
                    #articlePrice="ngModel" class="form-control" min="0"> 
                    <small class="text-danger" *ngIf=" articlePrice.invalid && (articlePrice.dirty || articlePrice.touched || invalidForm) ">
                    Precio obligatorio
                </small>
            </div>

            <div class="from-group article-imageUrl mb-3">
                <label for="imageUrl">Url de la imagen</label>
                <input type="text" name="imageUrl" placeholder="Url de la imagen" ngModel required
                    #articleiIageUrl="ngModel" class="form-control"  pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$"> 
                    <small class="text-danger" *ngIf=" articleiIageUrl.invalid && (articleiIageUrl.dirty || articleiIageUrl.touched || invalidForm) ">
                        Url obligatoria
                </small>
            </div>

    
            <div class="from-group article-name mb-3">
                <input type="checkbox" name="isOnSale" class="form-check-input" ngModel> ¿Esta a la venta?
            </div>

        </div>
        <button type="submit" class="btn btn-primary mt-3">Crear</button>



    </form>
</div>